.blogs {
	text-align: center;
	margin: 8rem auto;

	&__carousel {
		position: relative;
		margin: 2rem auto;
		// @include outline();
		width: 50rem;
		height: 42rem;
		z-index: -1;

		@media (max-width: 1400px) {
			width: 38rem;
			height: 40rem;
		}

		@media (max-width: 949px) {
			width: 32rem;
			height: 36rem;
		}
	}

	&__track-container {
		// @include outline(blue);
		position: relative;
		overflow: hidden;
		height: 100%;
	}

	&__track {
		height: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;
		transition: transform 250ms ease-in;
	}

	&__blog {
		height: 100%;
		display: flex;
		flex-direction: column;
		background: $gray-200;
		padding: 2.5rem;
	}

	&__images {
		height: 25rem;
		width: 100%;
		object-fit: cover;

		@media (max-width: 1400px) {
			height: 22rem;
		}

		@media (max-width: 949px) {
			height: 18rem;
		}
	}

	&__details {
		display: flex;
		justify-content: center;

		p {
			margin: 0.5rem 1rem;
			color: $gray-700;
			font-size: 1.2rem;

			@media (max-width: 1400px) {
				font-size: 1rem;
			}
		}
	}

	&__title {
		padding: 1.2rem 0;
		font-size: 1.4rem;
		letter-spacing: 1px;
		color: $gray-900;

		@media (max-width: 1400px) {
			font-size: 1.2rem;
		}
	}

	&__button {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	&__carousel-button {
		position: absolute;
		font-size: 3rem;
		top: 50%;
		transform: translateY(-50%);
		background: transparent;
		border: 0;
		cursor: pointer;
		color: $gray-600;

		@media (max-width: 1400px) {
			font-size: 2.5rem;
		}
	}

	&__button-left {
		right: 105%;
	}

	&__button-right {
		left: 105%;
	}

	&__nav {
		display: flex;
		justify-content: center;
		padding: 1rem 0;
		bottom: 5%;
	}

	&__indicator {
		display: block;
		width: 1.2rem;
		height: 1.2rem;
		background: $gray-500;
		border-radius: 50%;
		margin: 0 0.5rem;

		@media (max-width: 1400px) {
			width: 1rem;
			height: 1rem;
		}

		&.current-slide {
			background: $yellow;
		}
	}
}
