.contact {
	text-align: center;

	&__flex {
		width: 70%;
		margin: 4rem auto;
		display: flex;
		justify-content: space-evenly;

		@media (max-width: 450px) {
			width: 80%;
			margin: 3rem auto;
			justify-content: space-around;
		}
	}

	&__insta-img {
		outline: 1px solid $gray-500;
		width: 30rem;
		height: 40rem;

		@media (max-width: 1400px) {
			width: 25rem;
			height: 35rem;
		}

		@media (max-width: 949px) {
			width: 20rem;
			height: 28rem;
		}

		@media (max-width: 751px) {
			width: 60%;
			height: calc(60% * 2);
		}

		@media (max-width: 450px) {
			width: 65% !important;
			height: calc(65% * 6);
		}
	}

	&__links {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	&__link {
		width: 5rem;
		height: 5rem;
		background: $yellow;
		font-size: 2.8rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background 0.2s ease;

		@media (max-width: 1400px) {
			width: 4rem;
			height: 4rem;
			font-size: 2.2rem;
			display: flex;
		}

		@media (max-width: 751px) {
			width: 2.8rem;
			height: 2.8rem;
			font-size: 1.3rem;
		}

		&:hover {
			background: $yellow-light;
		}

		a {
			color: $white;
			display: block;
		}
	}
}
