.contact {
	text-align: center;

	&__flex {
		width: 70%;
		margin: 4rem auto;
		display: flex;
		justify-content: space-evenly;
	}

	&__insta-img {
		outline: 1px solid $gray-500;
		width: 30rem;
		height: 40rem;
	}

	&__links {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	&__link {
		width: 5rem;
		height: 5rem;
		background: $yellow;
		font-size: 2.8rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background .2s ease;

		&:hover{
			background: $yellow-light;
		}

		a {
			color: $white;
			display: block;
		}
	}
}
