.footer {
	text-align: center;
	margin-top: 5rem;

	&__flex {
		margin-top: 4rem;
		display: flex;

		@media (max-width: 750px) {
			flex-direction: column;
		}
	}

	&__details {
		position: relative;
		background-image: url("../../images/footer-image.jpg");
		background-size: cover;

		flex: 1 1 50%;
		text-align: left;
		padding: 5rem 0 3rem 8rem;
		$padding: 0.5rem;

		@media (max-width: 1400px) {
			padding: 4rem 0 2.5rem 4.5rem;
		}

		@media (max-width: 949px) {
			padding: 3.5rem 1rem 2rem 4rem;
		}

		h4 {
			color: $white;
			font-size: 1.6rem;
			letter-spacing: 1px;
			padding: $padding;

			@media (max-width: 1400px) {
				font-size: 1.2rem;
			}
		}

		p {
			color: $peach;
			padding: $padding;
			font-size: 1.6rem;
			margin-bottom: 1.6rem;

			@media (max-width: 1400px) {
				font-size: 1.2rem;
			}

			@media (max-width: 949px) {
				font-size: 1.1rem;
			}
		}

		a {
			margin: 2rem 0.5rem;
		}
	}

	&__form {
		flex: 1 1 50%;
		padding: 5rem 8rem 3rem 8rem;
		background: rgba($peach-dark, 0.8);

		@media (max-width: 1400px) {
			padding: 4rem 4rem 2.5rem 3.8rem;
		}

		@media (max-width: 949px) {
			padding: 3.5rem 3.5rem 2rem 3.4rem;
		}
	}
}
