.services {
	text-align: center;
	margin: 6rem 0;

	&__description {
		margin: 2.5rem 0;
		font-size: 2rem;
		color: $gray-800;
		letter-spacing: 1px;

		@media (max-width: 1400px) {
			font-size: 1.6rem;
		}

		@media (max-width: 949px) {
			font-size: 1.3rem;
		}
	}

	&__icons {
		display: flex;
		justify-content: space-evenly;
		list-style: none;
		height: 10rem;
		width: 90%;
		margin: 0 auto;

		@media (max-width: 1400px) {
			height: 8rem;
		}

		@media (max-width: 949px) {
			flex-wrap: wrap;
			height: auto;
		}

		@media (max-width: 580px) {
			flex-direction: column;
			height: auto;
			align-items: center;
		}
	}

	&__icon {
		flex: 1 1 40%;
		margin: 0 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		background: $gray-200;
		z-index: 99;

		@media (max-width: 949px) {
			margin: 1.5rem 0.5rem;
		}

		@media (max-width: 580px) {
			flex: 0 1 1;
			width: 20rem;
		}

		&:hover .tooltip {
			opacity: 1;
			top: 102%;
		}

		&:hover .services__detail {
			transform: scaleY(1);
			opacity: 0.9;
		}

		img {
			height: 60%;
			width: 50%;

			@media (max-width: 580px) {
				height: auto;
				width: 35%;
				margin: 1rem;
			}
		}
	}

	&__detail {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3.5rem;
		overflow: hidden;
		transform: scaleY(0);
		transition: transform 0.3s ease, opacity 0.3s ease;
		transform-origin: bottom;
		opacity: 0;

		@media (max-width: 1400px) {
			height: 3rem;
		}

		@media (max-width: 1100px) {
			height: 2.8rem;
		}

		@media (max-width: 948px) {
			height: 3.2rem;
		}

		@media (max-width: 751px) {
			height: 2rem;
		}

		.content {
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			// background: $gray-600;
			background: rgba($yellow, 0.9);
			position: absolute;
			width: 110%;
			height: 105%;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			font-size: 1.1rem;
			font-weight: 700;
			color: $white;
			padding: 1rem;

			@media (max-width: 1400px) {
				font-size: 0.8rem;
			}

			@media (max-width: 949px) {
				font-size: 1.1rem;
				height: 110%;
				padding: 0.8rem;
			}

			@media (max-width: 749px) {
				font-size: 0.9rem;
				height: 90%;
			}
		}
	}

	&__button {
		margin: 3rem 0;

		@media (max-width: 949px) {
			margin: 1.8rem 0;
		}

		@media (max-width: 580px) {
			margin: 3rem 0;
		}
	}
}
