.form {
	text-align: left;

	&__group {
		// @include outline();
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 2.5rem;

		@media (max-width: 1400px) {
			margin-bottom: 2.2rem;
		}

		ion-icon {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			font-size: 2.8rem;
			color: $white;
			margin-right: 1rem;
			flex: 0 0 4rem;

			@media (max-width: 1400px) {
				font-size: 2.4rem;
				flex: 0 0 3rem;
			}

			@media (max-width: 949px) {
				font-size: 2.2rem;
				flex: 0 0 2.5rem;
			}
		}

		input {
			background: transparent;
			border: 0 solid transparent;
			border-bottom: 0.15rem solid $white;
			width: 100%;
			padding: 0.3rem 0.2rem;
			font-size: 1.3rem;
			transition: border-bottom-color 0.2s ease-in;
			color: $white;

			@media (max-width: 1400px) {
				font-size: 1.2rem;
			}

			@media (max-width: 949px) {
				font-size: 1.1rem;
			}

			&:focus {
				outline: none;
				border-bottom-color: $black;
			}

			&::placeholder {
				color: $white;
				font-weight: bold;
				opacity: 1;
			}
		}
	}

	&__label {
		font-size: 1.5rem;
		font-weight: 700;
		padding: 0 0.1rem;
		color: $white;
		height: 2.8rem;
		display: flex;
		align-items: center;

		@media (max-width: 1400px) {
			font-size: 1.25rem;
		}

		@media (max-width: 949px) {
			font-size: 1.15rem;
		}
	}

	&__textarea {
		width: 100%;
		height: 10rem;
		border: 0.15rem solid $white;
		background: transparent;
		padding: 0.5rem;
		font-size: 1.4rem;
		font-family: $font-nunito;
		color: $white;

		transition: border 0.2s ease-in;

		@media (max-width: 1400px) {
			height: 9rem;
			font-size: 1.2rem;
		}

		&:focus {
			border-color: $black;
			outline: none;
		}
	}

	&__button {
		display: block;
		width: 15rem;
		background: $white;
		border: none;
		font-size: 1.6rem;
		letter-spacing: 1px;
		font-weight: 700;
		padding: 0.6rem 0;
		color: $yellow;
		margin-left: auto;
		cursor: pointer;

		@media (max-width: 1400px) {
			width: 12rem;
			font-size: 1.2rem;
		}

		@media (max-width: 949px) {
			width: 8rem;
			font-size: 1.1rem;
		}

		@media (max-width: 750px) {
			margin-right: auto;
			margin-left: 3.5rem;
		}
	}
}
