.nav {
	position: relative;
	width: 100%;
	height: 4.5rem;
	box-shadow: 0 2px 10px rgba($black, 0.1);

	@media (max-width: 1400px) {
		height: 4rem;
	}

	@media (max-width: 949px) {
		height: 3.5rem;
	}

	.container {
		display: flex;
		height: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-size: 1.8rem;
		font-family: $font-serif;
		letter-spacing: 1.5px;

		@media (max-width: 1400px) {
			font-size: 1.4rem;
		}
	}

	&__links {
		width: 40%;
		display: flex;
		justify-content: space-between;

		&.open {
			height: 16rem;
			border-top: 1px solid $gray-300;
		}

		@media (max-width: 949px) {
			width: 55%;
		}

		@media (max-width: 749px) {
			position: absolute;
			flex-direction: column;
			justify-content: space-evenly;
			top: 100%;
			background: #fff;
			left: 0;
			border: 0 solid $gray-300;
			width: 100%;
			z-index: 99;
			overflow: hidden;
			height: 0;
			transition: height 0.4s ease-in-out, border 0.4s ease-in-out;
		}
	}

	&__link {
		font-size: 1.2rem;
		color: $black;
		text-decoration: none;
		font-family: $font-nunito;
		font-weight: 700;
		transition: color 0.2s ease;

		@media (max-width: 1400px) {
			font-size: 1rem;
		}

		@media (max-width: 749px) {
			font-size: 1.15rem;
			width: 85%;
			margin: 0 auto;
		}

		&:hover {
			color: $yellow;
		}

		&--active {
			color: $yellow;
		}
	}

	&__toggle {
		// border: 1px solid red;
		width: 3rem;
		height: 75%;
		position: relative;
		cursor: pointer;
		display: none;

		@media (max-width: 750px) {
			display: block;
		}

		&.open &-mid {
			background: rgba(0, 0, 0, 0);
		}

		&.open &-mid::before {
			bottom: 0;
			transform: rotate(45deg);
		}

		&.open &-mid::after {
			top: 0;
			transform: rotate(135deg);
		}

		&-mid {
			position: absolute;
			width: 70%;
			height: 3px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $yellow;
			transition: background 0.4s ease-in-out;

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: black;
				transition: all 0.4s ease-in-out;
			}

			&::before {
				bottom: 9px;
			}

			&::after {
				top: 9px;
			}
		}
	}
}
