.room-card {
	margin: 2rem 1rem 3rem 1rem;

	@media (max-width: 948px) {
		margin: 1.5rem 0 1rem 0;
	}

	@media (max-width: 800px) {
		border: 1px solid $gray-300;
	}

	&__main {
		// @include outline();
		display: grid;
		grid-template-areas:
			"img details"
			"img description";

		@media (max-width: 800px) {
			grid-template-areas:
				"img"
				"details"
				"description";
		}
	}

	&__img {
		grid-area: img;
		width: 30rem;
		height: 100%;
		object-fit: cover;

		@media (max-width: 948px) {
			width: 40vw;
		}

		@media (max-width: 800px) {
			width: 100%;
			height: calc(80vmin / 2.5);
		}

		@media (max-width: 650px) {
			height: calc(80vmin / 1.75);
			min-height: 13rem;
		}
	}

	&__details {
		grid-area: details;
		padding: 0.4rem 1.8rem;
		// align-self: start;
		// @include outline();
		height: max-content;

		@media (max-width: 800px) {
			padding: 0.6rem 0.8rem;
		}
	}

	&__heading {
		font-size: 3rem;
		margin-bottom: 0.5rem;

		@media (max-width: 1400px) {
			font-size: 1.8rem;
		}

		@media (max-width: 800px) {
			font-size: 1.4rem;
		}
	}

	&__rating {
		display: flex;
		align-items: center;
		margin: 0.4rem 0;
		span {
			font-size: 1.8rem;
			font-weight: bold;
			margin-right: 0.8rem;

			@media (max-width: 1400px) {
				font-size: 1.2rem;
				margin-right: 0.4rem;
			}
		}
	}

	&__stars {
		display: flex;

		ion-icon {
			font-size: 1.9rem;
			color: $yellow;

			@media (max-width: 1400px) {
				font-size: 1.4rem;
			}
		}
	}

	&__facilities {
		margin: 0.5rem 0;
		display: flex;
		align-items: center;

		ion-icon {
			// @include outline();
			font-size: 2rem;
			margin-right: 0.8rem;
			color: $gray-700;
		}
	}

	&__price {
		margin-top: 1rem;
		display: flex;
		align-items: center;

		@media (max-width: 1400px) {
			margin-top: 0.6rem;
		}

		> span {
			font-size: 1.8rem;
			font-weight: bold;
			margin-right: 0.8rem;

			@media (max-width: 1400px) {
				font-size: 1.2rem;
				margin-right: 0.4rem;
			}
		}

		p {
			font-size: 1.4rem;
			font-weight: bold;

			@media (max-width: 1400px) {
				font-size: 1rem;
			}

			span {
				color: $yellow;
				font-size: 1.8rem;

				@media (max-width: 1400px) {
					font-size: 1.2rem;
				}
			}
		}
	}

	&__description {
		grid-area: description;
		padding: 0.5rem 1.8rem;
		height: 100%;
		font-size: 1.4rem;
		line-height: 1.6;
		color: $gray-900;
		// @include outline();

		@media (max-width: 1400px) {
			font-size: 1rem;
		}

		@media (max-width: 800px) {
			padding-left: 0.8rem;
			padding-right: 0.8rem;
			padding-bottom: 1rem;
			padding-top: 0.2rem;
		}
	}
}
