@import "./styles/abstracts/variables";
@import "./styles/abstracts/utility";
@import "./styles/abstracts/mixins";

@import "./styles/base/typography";
@import "./styles/base/base";

// components
@import "./styles/components/to-top-button";
@import "./styles/components/button";
@import "./styles/components/heading";
@import "./styles/components/navbar";
@import "./styles/components/tooltip";
@import "./styles/components/carousel";
@import "./styles/components/form";
@import "./styles/components/room-card";

// layouts and sections
@import "./styles/layout/grid";
@import "./styles/layout/header-section";
@import "./styles/layout/welcome-section";
@import "./styles/layout/rooms-section";
@import "./styles/layout/services-section";
@import "./styles/layout/testimoney-section";
@import "./styles/layout/blog-section";
@import "./styles/layout/contact-section";
@import "./styles/layout/footer-section";

// rooms page
@import "./styles/pages/rooms-page/rooms-header-section";
@import "./styles/pages/rooms-page/rooms-options-section";
@import "./styles/pages/rooms-page/rooms-data-section";

.size {
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	color: blue;
}
